{% extends "::base.html.twig" %}

{% block title %}CABlogBundle:BlogController:index{% endblock %}

{% block body %}


	
	
		<h1>Welcome</h1>
	
	{% for post in posts | slice(0, 10) | reverse %}
	    <div class="post">
			{% if post.user.id is not defined %}
				<p><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</a> {{post.created.date | date("m/d/Y") }} by unknown</p>
			<p>{{ post.content }}</p>
			{% else %}
			    <p><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</a> {{post.created.date | date("m/d/Y") }} by <a href="{{ path('user_profile', { 'id': post.user.id }) }}">{{ post.user.username }}</a></p>
			<p>{{ post.content }}</p>
			{% endif %}
		</div>
	{% endfor %}
	

{% endblock %}
